@import url("https://lilac-ui.netlify.app/css/components.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");

:root{
  --primary-color:black;
  --logo-color:#f2f2f2;
  --white-color:#fff;
  --icon-badge:#3b82f6;
  --red-color:#e00000;
  --grey-color:#eeeeee;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}